


/* 
2nd */
.bg-2{
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 52%), rgb(0 0 0 / 45%)), url('../img/bg-2.png');
  height: 440px;
  background-size: cover;
  width: 100%;

}
.bg_title{
  border-bottom: 2px solid #ffffff;
  letter-spacing: 5px;
}
.cl-ffffff{
  color: #ffffff;
}
.mw-p{
  max-width: 41%;
  text-align: center;
}

