.cl-006ff7{
    color: #006FF7 !important;
  
}
.nav-link {
    font-size: 1.2rem;
    padding: 20px 15px !important;
}

#particles-js{
    background-image: url('../img/Artboard-4.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    height: 100vh;
}
